
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');

body{
    font-family: "Stack Sans Headline", sans-serif;
  
}


.container{
    background-color: #f8f9fa;
    width: 50%;
    position: relative;
    justify-items: center;
    display: grid;
    justify-content: center;
    left: 26%;
    margin-top: 3%;
    height: 450px;
    border-radius: 3%;
    border: none;


}

input{
    height: 30px;
    margin: 11px;
    width: 120%;
    border: none;
    font-size: 20px;
    background-color: #fff;

}

#b{
    margin: 20%;
    width: 100%;
    cursor: pointer;
    height: 40px;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    background-color: #212529;
    color: #adb5bd;
    margin-top: 15px;
    
}

#erro{
    position: relative;
    justify-content: center;
    align-items: center;
    top: -19px;

}


/** Lista de todos.html*/

.tituloT{
    width: 29%;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40%;
    color: #01497c;
}

.lista{
    justify-content: center;
    position: relative;
    align-items: center;
    left: 290px;
    display: block;
    color: #212529;
    width: 70%;
    background-color:#f8f9fa;
    border-radius: 10px;
    border: none;
    
   
    
}

.lista p{
    color: #22223b;
    margin-bottom: 20px;
     padding-left: 50px;
    background-color: o;
}
.lista summary{
    cursor: pointer;
    display: block;   
    padding-bottom: 20px;
    padding-top: 40px;
    color: #01497c;
    border-radius: 50px;
    border-color: #212529;

    padding-left: 50px;
}
.procurar{
    position: relative;
    background-color: #f8f9fa;
    border-color: #339AF0;
    border-style: groove;
    border-radius: 20px;
    color: #1E8449;
    width: 25%;
    height: 45px;
    justify-content: center;
    left: 25%;
    margin-bottom: 5%;
    margin: 20px;
}